label{
  display: block;
  cursor: pointer;
}

input + label{
  display: inline;
}

input{
  border: 1px solid hotpink;
  background-color: orange;
  border-radius: 10px;
  font-size: 2rem;
  padding: 1em;
}


button{
 font-size: 2rem;
}
